{% extends "rh/layout.html" %}
{% load static %}

{% block title %}
Employment record
{% endblock %}

{% block body %}
<span style="margin: 5vmin;" class="cvheading">Employment Record</span><br>
<table  style="width: fit-content" class="table">
    <tbody>
      <tr>
        <td>Since Sep-13</td>
        <td><b>Eptisa Servicios de Ingenieria, SL</b><br>
            Project Manger CAT III Check N25 New Ross Bypass. Contact value €230m.<br>
            Deputy Project Manager Landside Structures, Mersey Gateway Project. Contact value £550m.<br>
            </td>
      </tr>
      <tr>
        <td>Jun 08- Jun 13</td>
        <td><b>FCC Construccion SA</b><br>
            Responsible for producing the Working Drawings and Design Site Representative for the Danube
             Bridge 2 Project (Bulgaria). Contract value €235m.
            </td>
      </tr>
      <tr>
        <td>Apr-06- Jun 08</td>
        <td><b>Dragados SA</b><br>
            Quality Control Technician Torre Bankia. Contract value €82m.
            </td>
      </tr>
      <tr>
        <td>May 04- Nov 05</td>
        <td><b>Oproler Madrid S.A.</b><br>
            Site manager refurbishment of 19,000m<sup>2</sup> of office space in two buildings for Ericsson Spain. Contract value €1.7m.
            </td>
      </tr>
      <tr>
        <td>Sep 02- Feb 04</td>
        <td><b>Ross & Partners, London /Fitzpatrick Contractors, London</b>
            Resident Engineer Gibraltar General Hospital. Contract value £30m.
        </td>
      </tr>
      <tr>
        <td>Feb 00- Jul 02</td>
        <td><b>Pondio Ingenieros, Madrid</b> Design engineer.
        </td>
      </tr>
      <tr>
        <td>Sep 97- Aug 99</td>
        <td><b>Ross & Partners, London</b> Design engineer.
        </td>
      </tr>
      <tr>
        <td>May 91- Sep 97</td>
        <td><b>John E. Foster & Partners, London</b> Design Engineer/Resident Engineer.
        </td>
      </tr>
      <tr>
        <td>Aug 90- Feb 91</td>
        <td><b>Ross & Partners, London</b> Design engineer.
        </td>
      </tr>
      <tr>
        <td>Mar 90- Aug 90</td>
        <td><b>Delta Demolitions, Melbourne</b> Site foreman.
        </td>
      </tr>
      <tr>
        <td>Dec 88- Mar 90</td>
        <td><b>P & S Kubale Ltd, Melbourne</b> Site leading hand.
        </td>
      </tr>
      <tr>
        <td>Jan 88- Dec 88</td>
        <td><b>Zafiris Constructions, Melbourne</b> Cost estimator.
        </td>
      </tr>
      <tr>
        <td>May 87- Dec 87</td>
        <td><b>Ross & Partners, London</b> Design engineer.
        </td>
      </tr>
      <tr>
        <td>Jun 86- Mar 87</td>
        <td><b>Reviresco Contracting, London</b> Site leading hand.
        </td>
      </tr>
      <tr>
        <td>Dec 85- May 86</td>
        <td><b>P & S Kubale Ltd, Melbourne</b> Site leading hand.
        </td>
      </tr>
      <tr>
        <td>May 85- Nov 85</td>
        <td><b>Ross & Partners, London</b> Design engineer.
        </td>
      </tr>
      <tr>
        <td>Sep 83- Nov 84</td>
        <td><b>P. Berger & Associates, Melbourne</b> Design Engineer.
        </td>
      </tr>
      <tr>
        <td>Jan 83-Aug 83</td>
        <td><b>Tech Builders, Melbourne</b> Site leading hand.
        </td>
      </tr>
      
    </tbody>
  </table>
{% endblock %}

{% block script %}
    <script src="{% static 'cv/rh.js' %}"></script>
{% endblock %}
